@use "./utils"

main
  font-family: NotoSansJP
  max-width: 65%
  margin: 0 auto

.cards
  padding-left: 0
  list-style-type: none

  > .card
    background-image: linear-gradient(to right bottom, #232229, #232227, #232225, #222224, #222222)
    padding: 1.5rem
    padding-left: 2.5rem
    color: #e9edf2
    border-radius: 0.5rem
    margin-bottom: 1rem
    transition: box-shadow 150ms ease-out
    position: relative

    &::before
      content: ""
      display: inline-block
      position: absolute
      width: 0.5rem
      left: 1rem
      top: 1rem
      bottom: 1rem
      border-radius: 0.5rem
      background-color: #2f3235

    &:hover
      box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.5)

    >.title
      margin-top: 0
      font-weight: 700
      color: #e9ecef

    >.description
      color: #94959b

    >.url
      $color: #1fc1c4
      font-family: monospace
      font-size: medium
      background-color: transparentize($color, .9)
      border-radius: 1rem
      padding: 0.5rem 0.75rem
      color: $color
      line-height: normal
      vertical-align: middle
      display: inline-block
      word-break: break-all

    >.tags
      list-style: none
      padding-left: 0

      >.tag
        display: inline-block
        margin-right: 0.5rem
        margin-bottom: 1rem

        &:last-child
          margin-right: 0

        &.selected
          >button
            $color: #f1ac97
            background-color: transparentize($color, .85)
            color: $color
            font-weight: 600

        >button
          $color: #ee724c
          background-color: transparentize($color, .8)
          border: none
          border-radius: 1rem
          padding: .5rem .75rem
          color: $color
          font-size: smaller
          font-weight: 500
          cursor: pointer
          transition: box-shadow 150ms ease-out

          &:hover
            box-shadow: 0px 0px 5px 1px transparentize($color, .5)
