@font-face
  font-family: "Merriweather"
  src: url("./assets/fonts/Merriweather/Merriweather-Regular.ttf")
  font-weight: 400
  font-style: normal
  font-stretch: normal

@font-face
  font-family: "Merriweather"
  src: url("./assets/fonts/Merriweather/Merriweather-Black.ttf")
  font-weight: 900
  font-style: normal
  font-stretch: normal

@font-face
  font-family: "Merriweather"
  src: url("./assets/fonts/Merriweather/Merriweather-BlackItalic.ttf")
  font-weight: 900
  font-style: italic
  font-stretch: normal

@font-face
  font-family: "Merriweather"
  src: url("./assets/fonts/Merriweather/Merriweather-Bold.ttf")
  font-weight: 700
  font-style: normal
  font-stretch: normal

@font-face
  font-family: "Merriweather"
  src: url("./assets/fonts/Merriweather/Merriweather-BoldItalic.ttf")
  font-weight: 700
  font-style: italic
  font-stretch: normal

@font-face
  font-family: "Merriweather"
  src: url("./assets/fonts/Merriweather/Merriweather-Italic.ttf")
  font-weight: 400
  font-style: italic
  font-stretch: normal

@font-face
  font-family: "Merriweather"
  src: url("./assets/fonts/Merriweather/Merriweather-LightItalic.ttf")
  font-weight: 300
  font-style: italic
  font-stretch: normal

@font-face
  font-family: "Merriweather"
  src: url("./assets/fonts/Merriweather/Merriweather-Light.ttf")
  font-weight: 300
  font-style: normal
  font-stretch: normal

@font-face
  font-family: "NotoSansJP"
  src: url("./assets/fonts/NotoSansJP/NotoSansJP-Regular.otf")
  font-weight: 400
  font-style: normal
  font-stretch: normal

@font-face
  font-family: "NotoSansJP"
  src: url("./assets/fonts/NotoSansJP/NotoSansJP-Bold.otf")
  font-weight: 700
  font-style: normal
  font-stretch: normal

@font-face
  font-family: "NotoSansJP"
  src: url("./assets/fonts/NotoSansJP/NotoSansJP-Thin.otf")
  font-weight: 100
  font-style: normal
  font-stretch: normal

@font-face
  font-family: "NotoSansJP"
  src: url("./assets/fonts/NotoSansJP/NotoSansJP-Light.otf")
  font-weight: 300
  font-style: normal
  font-stretch: normal

@font-face
  font-family: "NotoSansJP"
  src: url("./assets/fonts/NotoSansJP/NotoSansJP-Medium.otf")
  font-weight: 500
  font-style: normal
  font-stretch: normal

@font-face
  font-family: "NotoSansJP"
  src: url("./assets/fonts/NotoSansJP/NotoSansJP-Black.otf")
  font-weight: 900
  font-style: normal
  font-stretch: normal
