@use "./TagItem.module" as m

.text
  padding: 0 .5rem 0 .75rem
  user-select: none

.button
  @include m.button-common()
  padding: .5rem .75rem .5rem 0rem

  &:hover
    span
      background-color: black

  span
    color: inherit
    display: inline-block
    border-radius: 50%
    width: 1rem
    height: 1rem
    background-color: transparent
    transition: background-color 150ms ease-out
