.wrapper
  border-radius: 1rem
  background-color: #4361ee
  color: white
  display: inline-block
  margin-bottom: .5rem
  margin-right: .5rem
  font-size: small
  line-height: 1rem

  &:last-child
    margin-right: 0

@mixin button-common()
  user-select: none
  background: none
  border: none
  cursor: pointer
  color: inherit
