@mixin padding-x($value)
  padding:
    left: $value
    right: $value

@mixin padding-y($value)
  padding:
    top: $value
    bottom: $value

@mixin margin-x($value)
  margin:
    left: $value
    right: $value

@mixin margin-y($value)
  margin:
    top: $value
    bottom: $value
